<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Home')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <div class="row">
        <div class="col-sm-8 blog-main">
            <h1>Welcome to BI Steps</h1>
            <p class="text-muted">A site dedicated to Business Intelligence and Data Analytics</p>
            <h4>Latest Posts:</h4>
            <div class="blog-post" th:each="p : ${posts}">
                <h2 class="blog-post-title" th:text="${p.title}">Title Goes Here</h2>
                <p class="blog-post-meta" th:text="'Posted on ' + ${#dates.monthName(p.datePosted)} + ' ' + ${#dates.day(p.datePosted)} + ', ' + ${#dates.year(p.datePosted)} ">Author and date go here</p>
                <p class="blog-post-summary" th:text="${p.summary}">Summary goes here</p>
                <a th:href="@{'/post_details/'(postId = ${p.id})}" type="button" class="btn btn-outline-primary">Read More</a>
            </div>
        </div>

        <div th:replace="fragments/sidebar :: sidebar"></div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer">


</footer>
</body>
</html>