<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head (title='Post')"></head>
<body>
<div class="container">
    <header th:replace="fragments/header :: header"></header>
    <h1 th:text="${post.title}"></h1>
    <p class="blog-post-meta" th:text="'Posted on ' + ${post.datePosted} ">Author and date go here</p>
    <p th:text="${post.summary}"></p>

    <div class="blog-post">
        <th:block th:each="pd : ${postdetails}">
            <h4 th:if="${pd.contentType.getContentType()} == 'Header' or ${pd.contentType.getContentType() == 'Results'}" th:text="${pd.content}"></h4>
            <p th:if="${pd.contentType.getContentType() == 'Paragraph'}" th:text="${pd.content}"></p>
            <pre><code th:if="${pd.contentType.getContentType() == 'Code'}" th:text="${pd.content}"></code></pre>
            <img th:if="${pd.image != null}" th:src="@{/images/} + ${pd.image}" class="img-fluid" th:alt="${pd.image}"/>
        </th:block>
    </div>




    <div class="web-links">
        <a href="/">Go Back</a>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>